<h1><%= @restaurant.name %></h1>
<p><strong>Address:</strong> <%= @restaurant.address %></p>
<p><strong>Category:</strong> <%= @restaurant.category %></p>

<h2>Reviews</h2>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>
      <p>Rating: <%= review.rating %></p>
      <p><%= review.content %></p>
    </li>
  <% end %>
</ul>

<%= link_to 'Add Review', new_restaurant_review_path(@restaurant) %>
